<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.jejunu.mapper.MemberMapper">

    <!--#{} 로 감싸진 변수는 내가 선언한 변수!, #{userId} 이런거!!-->
    <!--userid, userpw 이렇게 된건 DB 에 있는 어트리뷰트!!-->
    <insert id="insertMember">
        INSERT INTO tbl_member (
        userid
        , userpw
        , username
        ) VALUES (
        #{userId}
        , #{userPassword}
        , #{userName}
        )
    </insert>

    <select id="selectMember" resultType="kr.ac.jejunu.domain.User">
        SELECT *
        FROM tbl_member
        WHERE userid = #{userId}
    </select>

    <!--회원의 아이디와 패스워드로 회원 검색-->
    <select id="readWithPW" resultType="kr.ac.jejunu.domain.User">
        SELECT *
        FROM tbl_member
        WHERE userid = #{userId} AND userpw = #{userPassword}
    </select>

</mapper>